name: Actualiza_gastos
on:
  push:
  schedule:
    - cron: '0 0 * * MON'

jobs: 
  build:
    runs-on: windows-latest
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      SUPERSECRET: ${{ secrets.SUPERSECRET }}
      API_NIXTLA: ${{ secrets.API_NIXTLA }}
      NIXTLA_API_KEY: ${{ secrets.API_NIXTLA }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.4.0'

      - uses: r-lib/actions/setup-pandoc@v2

      - name: Setup .Renviron
        run: |
          echo "SUPERSECRET=$SUPERSECRET" >> ~/.Renviron
          echo "API_NIXTLA=$API_NIXTLA" >> ~/.Renviron
          echo "NIXTLA_API_KEY=$NIXTLA_API_KEY" >> ~/.Renviron
      - name: Set TimeGPT API Key
        run: echo "API_NIXTLA=${{ secrets.API_NIXTLA }}" >> $GITHUB_ENV
      
      - name: Test API Key
        run: |
          Rscript -e "print(Sys.getenv('API_NIXTLA'))"    

      - name: Set locale
        shell: bash
        if: always()
        run: |
          Rscript -e 'Sys.setlocale("LC_TIME", "Spanish_Chile.1252")'
          Rscript -e 'Sys.setlocale("LC_COLLATE", "Spanish_Chile.1252")'

      - name: Cache R packages
        uses: actions/cache@v4
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-${{ hashFiles('DESCRIPTION') }}
          restore-keys: ${{ runner.os }}-r-
      
      - name: Install dependencies
        if: always()
        run: |
          Rscript -e "options(repos = c(CRAN = 'https://packagemanager.posit.co/cran/2024-04-15'))"
          Rscript -e "install.packages(c('lintr', 'rsconnect', 'devtools', 'kableExtra', 'sjPlot', 'tsibble', 'zoo', 'reshape2', 'ggiraph', 'gplots', 'wordcloud', 'autoplotly', 'tidyverse', 'distill', 'plotly', 'knitr', 'survminer', 'reader', 'rowr', 'DataExplorer','SnowballC','readr','scales','CausalImpact', 'bsts','DT', 'withr', 'rmarkdown','plotrix','stringr','stringi','sparklyr','readxl','httr','fUnitRoots','tm','forecast','its.analysis', 'lubridate', 'tidytext', 'sjPlot', 'prophet', 'xts', 'nixtlar', 'rmarkdown'), repos = 'https://cloud.r-project.org')"
          Rscript -e "devtools::install_github('terrytangyuan/autoplotly')"
          Rscript -e "nixtlar::nixtla_set_api_key(Sys.getenv('API_NIXTLA'))"
          Rscript -e "try(nixtlar::nixtla_set_api_key(Sys.getenv('NIXTLA')))"
          Rscript -e "try(nixtlar::nixtla_set_api_key(Sys.getenv('NIXTLA_API_KEY')))"
          Rscript -e "try(nixtlar::nixtla_validate_api_key())"          
      - name: Render RMarkdown
        if: always()
        run: Rscript -e 'rmarkdown::render("sitio2.Rmd")'
        
      - name: Commit and Push
        if: success()
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Actualización automática $(date +'%Y-%m-%d %H:%M')" || echo "No hay cambios para commitear"
          git push origin
